:root {
    --conteudo-bg-hex: #FFF;
    --thead-bg-hex: #333333;
    --tbody-bg-hex: #e6e6e6;

    --table-rounded-borders-border: 0.2em solid;
    --table-rounded-borders-radius: 0.5em;

    --menu-width: 24vw;
    --menu-padding: 2vw;
    --content-width: calc(100vw - var(--menu-width));
    --content-left-right-padding: 12vw;
}

body {
    margin: 0;
    background-color: var(--conteudo-bg-hex);
    font-family: "Lucida Console", Monaco, monospace;
    /* color: white; */
    /* box-sizing: border-box; */
}

/* ------------------     LANDING PAGE     -------------------- */

#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    font-size: 1rem;
    text-align: center;
    opacity: 1;
    z-index: 2;
    transition: opacity 0.5s ease;
    color: white;
}

#landing-page > span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
}

#landing-page p {
    line-height: 2em;
    text-align: justify;
    width: 60%;
    margin-bottom: 2em;
}

#texto-inicial {
    background-color: rgba(0,0,0,.4);
    padding: 0.2em;
}

#landing-page-button {
    transition: opacity 0.1s ease;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 0.8em;
    background-color: white;
    border: 1px solid white;
    border-radius: 0.5em;
    font-family: inherit;
    cursor: pointer;
}

#landing-page footer {
    position: fixed;
    font-size: 0.7em;
    bottom: 5vh;
    background-color: rgba(255,0,0,0.8);
    padding: 0.2em;
}

/* ------------------     MENU     -------------------- */

#menu-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: width 2s ease, opacity 2s ease-in;
    background-color: var(--thead-bg-hex);
    z-index: 1;
}

#menu {
    display: none;
    background-color: var(--thead-bg-hex);
    color: white;
    height: 100vh;
    width: var(--menu-width);
    min-width: 264px;
    text-align: left;
    font-size: 0.8em;
    position: fixed;
    left: 0;
    top: 0;
    padding: var(--menu-padding);
    box-sizing: border-box;
    box-shadow: 0 0 0.5em black;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 2;
}

#menu h2 {
    margin: 0;
}

#menu > p {
    font-size: 1em;
}

form {
    text-align: center;
    width: 100%;
    border-radius: 0.5em;
}

fieldset {
    padding: 1em;
    border-radius: inherit;
    border: 1px solid white;
    margin: 0;
    margin-bottom: 1em;
    width: 100%;
    box-sizing: border-box;
}

fieldset:last-child {
    display: none;
}

legend, input[type=submit] {
    background-color: #fff;
    color: #000;
    font-family: inherit;
    font-weight: bold;
    text-align: left;
    padding: 0.5em 0.8em;
    border-radius: inherit;
}

select {
    padding: 0.1em;
}

fieldset:first-child input { /* TODO: AJEITAR!!!!! */
    border-radius: inherit;
    padding: 0.5em 0.8em;
    border-color: transparent;
}

#div-lists-menu {
    /* height: 25vh; */
    height: 50vh;
    min-width: 100%;
    max-width: calc(var(--menu-width) - calc(2 * calc(var(--menu-padding) + 1em))); /* 1em = padding do fieldset * 2 */
    text-align: left;
    overflow-y: scroll;
    /* background-color: rgba(255,255,255,.1); */
    /* border-radius: 0.5em; */
    padding: 0.5em;
    box-sizing: border-box;
}

#main-ul-menu {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 0;
    margin-left: 1em;
}

.periodo-ul {
    background-color: black;
    border-radius: 0.8em;
    padding: 0.3em; 
}

#main-ul-menu label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 0.4em;
    cursor: pointer;
}

#main-ul-menu input {
    margin: 0;
    padding: 0;
}

#main-ul-menu span {
    overflow-x: scroll;
    width: calc(100% - 2em);
    white-space: nowrap;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#main-ul-menu span::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#main-ul-menu span {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.periodo-li {
    margin-bottom: 1em;
}

ul, li {
    overflow: hidden;
    list-style-type: none;
}

#seu-objetivo {
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    /* -webkit-appearance: none; */
}


/* ------------------     PERFIL     -------------------- */

a {
    color: red;
}

#conteudo {
    display: none;
    top: 0;
    margin-left: max(264px, var(--menu-width));
    width: var(--content-width);
    min-width: 810px;
    height: 100vh;
    /* padding: 3em clamp(15px, var(--content-left-right-padding), 50px); */
    /* padding: 3em max(var(--content-left-right-padding), 124px); */
    /* padding: clamp(5px, var(--content-left-right-padding), var(--content-left-right-padding)); */
    /* padding: 3em var(--content-left-right-padding); */
    padding: 3em max(12.5vw, 135px);
    box-sizing: border-box;
    overflow: auto;
    z-index: 2;
    color: var(--conteudo-font-color);
}

#planejamento {
    display: none;
}

.periodo {
    margin-bottom: 3em;
}

table {
    font-size: 0.9em;
    width: 100%;
    table-layout: fixed;
}

thead {
    font-weight: bold;
    color: var(--conteudo-bg-hex);
    background-color: var(--thead-bg-hex);
    max-width: 100%;
    white-space: nowrap;
}

tbody {
    font-weight: lighter;
    background-color: var(--tbody-bg-hex);
}

th {
    padding: 0.5em;
    border: var(--table-rounded-borders-border) var(--thead-bg-hex);
}

td {
    padding: 0.2em 0.4em;
    border: var(--table-rounded-borders-border) var(--tbody-bg-hex);
}

th:first-child {
    border-top-left-radius: var(--table-rounded-borders-radius);
}

th:last-child {
    border-top-right-radius: var(--table-rounded-borders-radius);
}

tr:last-child td:first-child {
    border-bottom-left-radius: var(--table-rounded-borders-radius);
}

tr:last-child td:last-child {
    border-bottom-right-radius: var(--table-rounded-borders-radius);
}

/* td:not(:last-child), th:not(:last-child) {
    border-right: var(--tr-border);
}

tr:not(:last-child) td {
    border-bottom: var(--tr-border);
} */

th:nth-child(1) {
    width: 16%;
    max-width: 84px;
}

th:nth-child(2) {
    width: 44%;
}

th:nth-child(3) {
    width: 11%;
}

th:nth-child(4) {
    width: 29%;
}

td:nth-child(2) {
    font-weight: bold;
    white-space: nowrap;
    overflow-x: scroll;
    display: block;
    border-block: none;
}

.sem-pratica {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: red;
}

/* Hide scrollbar for Chrome, Safari and Opera */
td:nth-child(2)::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
td:nth-child(2) {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

td:not(:nth-child(2)) {
    text-align: center;
}

/* TODO: adicionar div com flex no lugar da <td> (do jeito que tá o border-radius não funciona */
td:last-child { 
    display: flex;
    justify-content: space-evenly;
    overflow: visible;
}

td:last-child div {
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    padding: 0.1em 0;
    box-sizing: border-box;
    width: 40%;
    cursor: context-menu;
    position: relative;
}

.eh-pre-req {
    background-color: red;
    border-color: lightpink;
}

.eh-pre-req:hover {
    background-color: lightpink;
}

.tem-pre-req {
    background-color: cyan;
    border-color: lightcyan;
}

.tem-pre-req:hover {
    background-color: lightcyan;
}

td:last-child div span {
  visibility: hidden;
  width: 200%;
  background-color: rgb(51,51,51);
  color: #fff;
  text-align: center;
  border-radius: 0.5em;
  padding: 0.5em;
  position: absolute;
  top: 115%;
  right: -60%;
  z-index: 1;
  font-size: 0.7em;
}

td:last-child div:hover span {
  visibility: visible;
}